:root {
    /* Text Styles */
    --header-1: bold 5rem 'Consolas', sans-serif;
    --header-2: bold 4rem 'Consolas', sans-serif;
    --header-3: bold 2rem 'Consolas', sans-serif;
    --paragraph: 1.5rem 'Consolas', sans-serif;
    
    /* Color Styles */
    --primary-color: #419059;
    --black: #000000;
    --white: #ffffff;

    /* Gradients */
    --itori-gradients: linear-gradient(to top, #5C3F32, rgba(0,0,0,0));
    --kumowrite-gradients: linear-gradient(to top, #647BAD, rgba(0,0,0,0));
    --sti-gradients: linear-gradient(to top, #CBC743, rgba(0,0,0,0));
}

@font-face {
    font-family: 'Consolas';
    src: url("./assets/fonts/CONSOLA.TTF") format('TTF');
    font-weight: normal;
    font-style: normal;
}



body {

    color: var(--black);

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

section {
    margin: 4rem 6rem 4rem 6rem;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1 {
    font: var(--header-1);
}

h2 {
    font: var(--header-2);
}

h3 {
    font: var(--header-3);
}

p, .paragraph-emb {
    font: var(--paragraph);
}

button {
    border: none;
    background: none;
    border-radius: 100rem;

    font: var(--paragraph);
}

/* Custom Universals */

.container-h {
    display: flex;
    box-sizing: border-box;
}

.container-v {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.gap4rem {
    gap: 4rem;
}

.gap3rem {
    gap: 3rem;
}

.gap2rem {
    gap: 2rem;
}

.gap0-5rem {
    gap: 0.5rem;
}