/* For Dev */

/* * {
    outline: auto;
} */

/* Universals */

.icon {
    aspect-ratio: 1/1;
    width: 2rem;
    height: 2rem;
}

.contacts-container {
    padding: 0.5em 1em;
    border-radius: 10rem;
    
    transition: background-color 250ms;
}

.contacts-container:hover {
    background-color: var(--grey);
}

.icon-small {
    width: 1rem;
    height: 1rem;
}

.profile-pic {
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 10%;

    transition: transform 500ms;
    min-width: 18rem;
}

.profile-pic:hover {
    transform: scale(110%);
}

/* HomePage Specifics */

/* HEADER */
.portfolio-header {
    justify-content: flex-end;

    margin: 2rem 6rem 0 6rem;
}

.contacts-container {
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}



/* INTRO SECTION */


.slogan-container {
    width: 40%;
}

.line-container {
    align-items: flex-end;
}

.calltoaction-btn {
    justify-content: center;
    align-items: center;
    
    width: fit-content;
    padding: 1em 2em;

    background-color: var(--primary-color);
    color: var(--white);

    transition: background-color 250ms;
}

/* Transition */

button:hover {
    background-color: var(--primary-color-active);
}


.img-container {
    width: 50%;
}

.img-pos-container {
    height: 100%;
    
    position: relative;
}

.img-pos-container > img {
    position: absolute;
    width: 145%;

    left: 10%;

    transition: transform 500ms;

    clip-path: polygon(52.19% 100%, 100% 52.92%, 100% 45.15%, 51.63% 0%, 47.81% 0%, 0% 48.04%, 0% 54.36%, 47.53% 99.76%);
}

/* Transition */

.img-pos-container > img:hover {
    transform: scale(110%);
}

.img1 {
    top: -5%;
}

.img2 {
    top: 15%;
}

.img3 {
    top: 35%;
}

/* PROJECTS SECTION ==================================== */
.projects-section {
    margin: 4rem 0;
}

.projects-section-title {
    padding: 0 6rem;
}

.project-carousel, .carousel-cards-container {
    justify-content: center;
    align-items: center;
}

.project-carousel {
    /* position: absolute; */
}

.carousel-cards-container {
    position: relative;
    width: 100%;
    height: 100%;

    left: 10px;

    transition: transform 500ms;
}

.project-card {
    aspect-ratio: 1.7/1;

    flex: 0 0 auto; /* does not allow the flex item to shrink or grow */
    background-size: cover;

    justify-content: space-between;
    align-items: flex-end;

    position: relative;
    /* position: relative; */

    width: 65%;
    padding: 2em;

    transition: background-position 500ms;
}

/* Transition */

.project-card:hover {
    background-position: 100%;
}


.project-card::before {
    position: absolute;
    
    content: "";
    inset: 0;

    opacity: 0%;
    transition: opacity 500ms;
}

/* Transition */

.project-card:hover::before {
    opacity: 100%;
}


.card-elements {
    opacity: 0%;
    
    color: var(--white);
    isolation: isolate;

    transition: opacity 250ms;
}

/* Transition */

.project-link:hover {
    text-decoration: underline;
}

/* Transition */

.project-card:hover .card-elements { /* transitions when cursor hovers the parent container */
    opacity: 100%;
}

.itori-card {
    background-image: url("./assets/images/Itori-HomePage-Front.webp");
}

.itori-card::before {
    position: absolute;
    inset: 0;
    background: var(--itori-gradients);
}

.kumowrite-card {
    background-image: url("./assets/images/KumoWrite-HomePage-Front.webp");
}

.kumowrite-card::before {
    position: absolute;
    inset: 0;
    background: var(--kumowrite-gradients);
}

.sti-card {
    background-image: url("./assets/images/stipromotionalWebpage-Front.webp");
}

.sti-card::before {
    position: absolute;
    inset: 0;

    background: var(--sti-gradients);
}

.link-container {
    justify-content: center;
    align-items: center;
}

/* ABOUT ME SECTION ==================================== */

.profilepic-name-container {
    justify-content: space-between;
    align-items: center;
}

.aboutme-icon {
    transition: transform 250ms;
}

/* Transition */

.aboutme-icon:hover {
    transform: scale(125%);
}